@using Tracking.Finance.Web.Models.Transactions;

@model TransactionCreationModel

<form asp-controller="Transaction" asp-action="Create" method="post">
	@Html.ValidationSummary()
	@Html.HiddenFor(model => model.FinanceUserId)
	<div class="form-group">
		@Html.LabelFor(model => model.Date)
		<div class="form-row">
			<div class="col-6">
				@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Date)
			</div>
			<div class="col-6">
				@Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Time)
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Create</button>
</form>