@using Tracking.Finance.Web.Models.Transactions;

@model TransactionDetailsModel

@Html.DisplayFor(model => model.SourceAmount)

<a asp-controller="Transaction" asp-action="CreateItem" asp-route-id="@Model.Transaction.Id">Create Item</a>

<table class="table table-bordered table-hover">
	<tr>
		<th>@Html.DisplayNameFor(model => model.TransactionItems[0].Id)</th>
		<th>@Html.DisplayNameFor(model => model.TransactionItems[0].SourceAmount)</th>
		<th>@Html.DisplayNameFor(model => model.TransactionItems[0].SourceCurrency)</th>
		<th>@Html.DisplayNameFor(model => model.TransactionItems[0].TargetAmount)</th>
		<th>@Html.DisplayNameFor(model => model.TransactionItems[0].TargetCurrency)</th>
		<th>@Html.DisplayNameFor(model => model.TransactionItems[0].Amount)</th>
		<th>@Html.DisplayNameFor(model => model.TransactionItems[0].Product)</th>
		<th>@Html.DisplayNameFor(model => model.TransactionItems[0].Description)</th>
	</tr>
	@if (Model.TransactionItems.Count == 0)
	{
		<tr><td colspan="8">No items</td></tr>
	}
	else
	{
		foreach (var transactionItem in Model.TransactionItems)
		{
			<tr>
				<td>@Html.DisplayFor(model => transactionItem.Id)</td>
				<td>@Html.DisplayFor(model => transactionItem.SourceAmount)</td>
				<td>@Html.DisplayFor(model => transactionItem.SourceCurrency)</td>
				<td>@Html.DisplayFor(model => transactionItem.TargetAmount)</td>
				<td>@Html.DisplayFor(model => transactionItem.TargetCurrency)</td>
				<td>@Html.DisplayFor(model => transactionItem.Amount)</td>
				<td>@Html.DisplayFor(model => transactionItem.Product)</td>
				<td>@Html.DisplayFor(model => transactionItem.Description)</td>
			</tr>
		}
	}
</table>