@using Tracking.Finance.Web.Controllers;
@using Tracking.Finance.Web.Models.Transactions;

@model List<TransactionIndexViewModel>

<a asp-controller="Transaction" asp-action="@nameof(TransactionController.Create)" class="btn btn-info">Create Transaction</a>
<a asp-controller="Transaction" asp-action="@nameof(TransactionController.CreateCategory)" class="btn btn-info">Create Transaction Category</a>
<table class="table table-bordered table-hover">
	<tr>
		<th>@Html.DisplayNameFor(model => model[0].Id)</th>
		<th>@Html.DisplayNameFor(model => model[0].CategoryName)</th>
		<th>@Html.DisplayNameFor(model => model[0].SourceAccountName)</th>
		<th>@Html.DisplayNameFor(model => model[0].TargetAccountName)</th>
		<th>@Html.DisplayNameFor(model => model[0].CompletedAt)</th>
		<th>@Html.DisplayNameFor(model => model[0].SourceAmount)</th>
		<th>@Html.DisplayNameFor(model => model[0].TargetAmount)</th>
	</tr>
	@if (Model.Count == 0)
	{
		<tr>
			<td colspan="7">No transactions</td>
		</tr>
	}
	else
	{
		foreach (var transaction in Model)
		{
			<tr>
				<td>
					<a asp-controller="Transaction" asp-action="Details" asp-route-id="@transaction.Id">
						@Html.DisplayFor(model => transaction.Id)
					</a>
				</td>
				<td>
					<a asp-controller="Transaction" asp-action="@nameof(TransactionController.CreateCategory)" asp-route-id="@transaction.CategoryId">
						@Html.DisplayFor(model => transaction.CategoryName)
					</a>
				</td>
				<td>
					<a asp-controller="Account" asp-action="@nameof(AccountController.Details)" asp-route-id="@transaction.SourceAccountId">
						@Html.DisplayFor(model => transaction.SourceAccountName)
					</a>
				</td>
				<td>
					<a asp-controller="Account" asp-action="@nameof(AccountController.Details)" asp-route-id="@transaction.TargetAccountId">
						@Html.DisplayFor(model => transaction.TargetAccountName)
					</a>
				</td>
				<td>
					@Html.DisplayFor(model => transaction.CompletedAt)
				</td>
				<td>
					@if (transaction.SourceAmount == 0)
					{
						@:-
					}
					else
					{
						@Html.DisplayFor(model => transaction.SourceCurrency)@: @Html.DisplayFor(model => transaction.SourceAmount)
					}
				</td>
				<td>
					@if (transaction.SourceAmount == 0)
					{
						@:-
					}
					else
					{
						@Html.DisplayFor(model => transaction.TargetCurrency)@: @Html.DisplayFor(model => transaction.TargetAmount)
					}
				</td>
			</tr>
		}
	}
</table>