@using Tracking.Finance.Web.Controllers;
@using Tracking.Finance.Web.Models.Products;

@model ProductCategoryCreationModel

<form asp-controller="Product" asp-action="@nameof(ProductController.CreateCategory)" method="post">
	@Html.ValidationSummary()
	@Html.HiddenFor(model => model.FinanceUserId)
	@Html.HiddenFor(model => model.Categories)
	<div class="form-group">
		@Html.DisplayNameFor(model => model.Name)
		@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.Name)
	</div>
	<div class="form-group">
		@Html.DisplayNameFor(model => model.ParentCategoryId)
		<select asp-for="@Model.ParentCategoryId" asp-items="@Model.Categories" class="form-control"></select>
		@Html.ValidationMessageFor(model => model.ParentCategoryId)
	</div>
	<button type="submit" class="btn btn-success">Create</button>
</form>