@using Tracking.Finance.Web.Controllers;
@using Tracking.Finance.Web.Models.Accounts;

@model AccountCreationModel

<form asp-controller="Account" asp-action="@nameof(AccountController.Create)" method="post">
	@Html.ValidationSummary()
	@Html.HiddenFor(model => model.FinanceUserId)
	@Html.HiddenFor(model => model.Currencies)
	<div class="form-group">
		@Html.DisplayNameFor(model => model.Name)
		@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.Name)
	</div>
	<div class="form-group">
		@Html.DisplayNameFor(model => model.SingleCurrency)
		@Html.EditorFor(model => model.SingleCurrency, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.SingleCurrency)
	</div>
	<div class="form-group">
		@Html.DisplayNameFor(model => model.UserAccount)
		@Html.EditorFor(model => model.UserAccount, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.UserAccount)
	</div>
	<div class="form-group">
		@Html.DisplayNameFor(model => model.CurrencyId)
		<select asp-for="@Model.CurrencyId" asp-items="@Model.Currencies" class="form-control"></select>
		@Html.ValidationMessageFor(model => model.CurrencyId)
	</div>
	<button type="submit" class="btn btn-success">Create</button>
</form>