@using Tracking.Finance.Web.Models.Accounts;
@using VMelnalksnis.SvgCharts;

@model AccountDetailsViewModel

<h1>@Model.Name</h1>

@Html.Display(model => model.Chart)

<table class="table table-bordered table-hover">
	<tr>
		<th>@Html.DisplayNameFor(model => model.Currencies[0].Currency)</th>
		<th>@Html.DisplayNameFor(model => model.Currencies[0].In)</th>
		<th>@Html.DisplayNameFor(model => model.Currencies[0].Out)</th>
		<th>@Html.DisplayNameFor(model => model.Currencies[0].Balance)</th>
	</tr>
	@if (Model.Currencies.Count == 0)
	{
		<tr><td colspan="4">No currencies added</td></tr>
	}
	else
	{
		foreach (var currency in Model.Currencies)
		{
			<tr>
				<td>@Html.DisplayFor(model => currency.Currency)</td>
				<td>@Html.DisplayFor(model => currency.In)</td>
				<td>@Html.DisplayFor(model => currency.Out)</td>
				<td>@Html.DisplayFor(model => currency.Balance)</td>
			</tr>
		}
	}
</table>

@if (!Model.SingleCurrency && Model.CurrencyListItems.Any())
{
	await Html.RenderPartialAsync("_AddCurrencyPartial", new AddCurrencyModel { AccountId = Model.Id, Currencies = Model.CurrencyListItems });
}