@using Tracking.Finance.Web.Controllers;
@using Tracking.Finance.Web.Models.Accounts;

@model List<AccountIndexViewModel>

<a asp-controller="Account" asp-action="@nameof(AccountController.Create)" class="btn btn-info">Create Account</a>
<table class="table table-bordered table-hover">
	<tr>
		<th>@Html.DisplayNameFor(model => model[0].Name)</th>
		<th>@Html.DisplayNameFor(model => model[0].UserAccount)</th>
		<th>Actions</th>
	</tr>
	@if (Model.Count == 0)
	{
		<tr>
			<td colspan="3">No accounts</td>
		</tr>
	}
	else
	{
		foreach (var account in Model)
		{
			<tr>
				<td>
					<a asp-controller="Account" asp-action="Details" asp-route-id="@account.Id">
						@Html.DisplayFor(model => account.Name)
					</a>
				</td>
				<td>
					@Html.DisplayFor(model => account.UserAccount)
				</td>
				<td>Todo</td>
			</tr>
		}
	}
</table>