@using Tracking.Finance.Web.Controllers
@using Tracking.Finance.Web.Models.Products

@model ProductCreationModel

<form asp-controller="Product" asp-action="@nameof(ProductController.Create)" method="post">
	@Html.ValidationSummary()
	@Html.HiddenFor(model => model.Categories)
	@Html.HiddenFor(model => model.Suppliers)
	@Html.HiddenFor(model => model.Units)
	@Html.HiddenFor(model => model.FinanceUserId)
	<div class="form-group">
		@Html.LabelFor(model => model.ProductCategoryId)
		<select asp-for="@Model.ProductCategoryId" asp-items="@Model.Categories" class="form-control"></select>
		@Html.ValidationMessageFor(model => model.ProductCategoryId)
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.UnitId)
		<select asp-for="@Model.UnitId" asp-items="@Model.Units" class="form-control"></select>
		@Html.ValidationMessageFor(model => model.UnitId)
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.SupplierId)
		<select asp-for="@Model.SupplierId" asp-items="@Model.Suppliers" class="form-control"></select>
		@Html.ValidationMessageFor(model => model.SupplierId)
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Name)
		@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Description)
		@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.Description)
	</div>
	<button type="submit" class="btn btn-success">Create</button>
</form>