@using Tracking.Finance.Web.Controllers;
@using Tracking.Finance.Web.Models.Products;

@model List<ProductIndexModel>

<a asp-controller="Product" asp-action="@nameof(ProductController.Create)" class="btn btn-info">Create Product</a>
<a asp-controller="Product" asp-action="@nameof(ProductController.CreateCategory)" class="btn btn-info">Create Product Category</a>
<table class="table table-bordered table-hover">
	<tr>
		<th>@Html.DisplayNameFor(model => model[0].Name)</th>
		<th>@Html.DisplayNameFor(model => model[0].Category)</th>
		<th>@Html.DisplayNameFor(model => model[0].Unit)</th>
		<th>@Html.DisplayNameFor(model => model[0].Supplier)</th>
		<th>@Html.DisplayNameFor(model => model[0].Description)</th>
	</tr>
	@if (Model.Count == 0)
	{
		<tr>
			<td colspan="3">No products</td>
		</tr>
	}
	else
	{
		foreach (var product in Model)
		{
			<tr>
				<td>
					<a asp-controller="Product" asp-action="@nameof(ProductController.Details)" asp-route-id="@product.Id">
						@Html.DisplayFor(model => product.Name)
					</a>
				</td>
				<td>
					@Html.DisplayFor(model => product.Category)
				</td>
				<td>
					@Html.DisplayFor(model => product.Unit)
				</td>
				<td>
					<a asp-controller="Counterparty" asp-action="@nameof(CounterpartyController.Index)" asp-route-id="@product.SupplierId">
						@Html.DisplayFor(model => product.Supplier)
					</a>
				</td>
				<td>
					@Html.DisplayFor(model => product.Description)
				</td>
			</tr>
		}
	}
</table> 