@using Tracking.Finance.Web.Controllers; 
@using Tracking.Finance.Web.Models.Counterparties;

@model CounterpartyCreationModel

<form asp-controller="Counterparty" asp-action="@nameof(CounterpartyController.Create)" method="post">
	@Html.ValidationSummary()
	@Html.HiddenFor(model => model.FinanceUserId)
	<div class="form-group">
		@Html.DisplayNameFor(model => model.Name)
		@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.Name)
	</div>
	<button type="submit" class="btn btn-success">Create</button>
</form>